* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Crimson Text', serif;
    font-family: 'Didact Gothic', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    background-color: #161616;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 150px;
    margin-top: 70px;
    height: 550px;

}

.text-section {
    width: 50%;
    color: white;
}

img-section {
    width: 50%;
}

.text-1 {
    font-size: 70px;
}

.text-2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.link {
    background-color: crimson;
    padding: 10px;
    border-radius: 8px;
    margin-top: 50px;
    color: white;

}

.main-button {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 20px;
    background-color: black;
    align-items: center;
    border-radius: 10px;
    height: 260px;
    margin-right: 20px;
}

.btn-1 {
    background-color: white;
    width: 50%;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
    text-align: center;
}

.btn-2 {
    background-color: #fff;
    width: 50%;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}

.btn-3 {
    background-color: red;
    width: 50%;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.blogs {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    margin-bottom: 30px;
}

.details {
    width: 312px;
    height: 362px;
    border: 1px solid #E8E8E8;
}

.details-button {
    padding: 4px 8px;
    gap: 5px;
}

.btn-0 {
    padding: 5px;
    border-radius: 3px;
}

.fa-clock {
    margin: 10px;
}

.fa-message {
    margin: 10px;
}

.detail {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

/* ----------------
   footer section 
-------------------*/
.footer-section {
    text-align: center;
    background-color: black;
    color: white;
    height: 250px;
}

.f-heading {
    margin-bottom: 30px;
    padding-top: 20px;
}

.horizontal {
    width: 80%;
    margin: 0 auto;
}

.last-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 70px;
}

.icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 500px;
}

.view-all {
    text-align: center;
    text-decoration: none;
    padding: 20px;
    display: none;
}

.view {
    padding: 10px 20px;
    background-color: tomato;
}


/* -------------------
Upcomming section
------------------- */
.up-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 30px;
}

.up-section {
    border: 1px solid rgb(196, 191, 191);
    width: 312px;
    height: 242px;
}

.up-section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.up-section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.upper-1 {
    margin-right: 5px;
}

.upper-2 {
    margin-left: 5px;
}

/* ---------------------
   for mobile device
--------------------- */
@media screen and (max-width: 576px) {
    .container {
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
        justify-content: center;
        align-items: center;
        margin: 0;

    }

    .blogs {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-button {
        width: 70%;
    }

    .detail {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 20px;
    }

    .footer-section {
        height: 100%;
    }

    .last-section {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin: 0;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0px;
        padding-bottom: 20px;
    }

    .up-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 20px;
    }
}

/* ------------------
for tablet device
-------------------- */
@media screen and (min-width:577px) and (max-width:992px) {
    .container {
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
        justify-content: center;
        align-items: center;
        margin: 0;

    }

    .blogs {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-button {
        width: 70%;
        background-color: white;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }

    .btn-1 {
        border: 2px solid black;
        width: 100%;
        margin-top: 20px;
    }

    .btn-2 {
        width: 100%;
    }

    .btn-3 {
        width: 100%;
        margin-top: 30px;
    }

    .view-all {
        display: block;
    }

    .detail {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 20px;
    }

    .footer-section {
        height: 100%;
    }

    .last-section {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin: 0;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0px;
        padding-bottom: 20px;
    }

    .up-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 20px;
    }
}